@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.portfolioPhotography {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}