@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.socialBar {
    display: flex;
    padding: 2rem 3rem;
    gap: 1rem;

    &__icon {
        width: auto;
        height: 3rem;
    }
}