@use "../partials/mixins" as *;
@use "../partials/variables" as *;
@use "../partials/typography" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata", "monospace";
}

:root {
  font-size: 100% !important;
}

//page header
h1 {
  font-family: "KodeMono";
  font-weight: 700;
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-family: "Inconsolata";
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

h4,
p,
li {
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
}
