//colors
$CloudWhite: #fefcf6;
$FloralWhite: #faf7ef;

$Blanket: #f2e0cf;
$Oat: #c9c3bd;

$Oak: #a6886d;
$Terracota: #854628;

$StormCloud: #686867;
$ForestGreen: #6b705b;
$BlackOlive: #32372C;

$Midnight: #262626;
$CarbonBlack: #121314;
$Slate: #535366;